# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environments
.env/
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Conda environment files
*.conda

# Jupyter Notebook extensions and configuration
.jupyter/

# Logs and local metadata
*.log
*.out
*.err
*.bak

# Hidden files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Large files and temporary data
*.gz
*.zip*
*.tar
*.h5
*.hdf5
*.pickle
*.pkl

# Temporary files
*.tmp
*.temp

# Notebook-specific outputs (optional)
*.nbconvert/
*.cache/
*.local/
*.ipython/

